{% extends "base.html" %}
{% block title %}{{ sheet.title }} &middot; Lead Sheet{% endblock %}
{% block container_class %}container--full{% endblock %}
{% block content %}
<p class="no-print"><a class="back" href="/leadsheets">&larr; Lead Sheets</a></p>

{% include "_leadsheet_editor_body.html" %}
{% endblock %}

{% block scripts %}
<script>
  const initialSheet = {{ sheet_json|safe }};
  const leadsheetId = "{{ sheet.id }}";
  const repertoireSongs = {{ repertoire_songs_json|safe }};
</script>
<script src="/static/leadsheet-editor.js"></script>
{% endblock %}
